.dropdown {
  display: inline-block;
  position: relative;
  width: 700px;
  align-items: center;
}

.container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.a {
  width: 300px;
}
.button {
  width: 100%;
}

.nohay {
  color: white;
}

.pagina {
  color: #630ec5;
  display: flex;
  justify-content: center;
}

.error_image {
  width: 70%;
  right: 3%;
  position: absolute;
  top: 20%;
  height: auto;
  min-height: 30%;
  max-height: 89%;
}

.error_h3 {
  font-size: 40px;
  margin-left: 12%;
  margin-top: 12%;
}

.error-content {
  display: inline-block;
}
