.nav{
  text-align: center;
    display: inline-flex,
}
.paginado{
    list-style:none,
}
.btn {
    margin: 2px;
    height: 38px;
    font-size: 0.9rem;
    font-size: 15px;
    color: rgb(150, 148, 148);
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    border-bottom: 1px solid rgba(221, 221, 221, 0.39);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .btn:focus,
  .btn:hover {
    color: rgba(221, 221, 221, 0.39);
  }
  
  .btn:focus:after,
  .btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #630ec5;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }